.popup-add__button-close {
  position: absolute;
  top: -54px;
  right: -54px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.popup-add__button-close:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .popup-add__button-close {
    top: -54px;
    right: -10px;
  }
}
