.item__button {
  border: none;
  background: url(../../../images/like.svg) center no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 21px;
  width: 21px;
  margin-left: 5px;
  margin-right: 5px;
}

.item__button:hover {
  opacity: .6;
  cursor: pointer;
}
